
<h2 class = "text-center">Sign up</h2><br/>
<div class = "container d-flex text-center justify-content-center bg-danger " style="width: 400px; border-radius: 7px">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Fullname %><br />
    <%= f.text_field :fullname %>
  </div>

  <div class="field">
    <%= f.label :Profile_photo %><br />
    <%= f.file_field :profile_photo %>
  </div>

  <div class="field">
    <%= f.label :Cover_image %><br />
    <%= f.file_field :cover_image %>
  </div><br>


  <div class="actions ">
    <%= f.submit "Sign up" %>
  </div>
  <br>
<% end %>



</div>
