<%= form_with(model: @technology) do |form| %>
<h1 class="text-warning"><marquee behavior="scroll" direction="right">Share your New technology </marquee></h1>

  <%= form.text_area :tech_desc, id: :tech_description, class: 'form-control', placeholder: 'Post your technology here', row: 3 %>
<br>
  <%= form.submit 'Post', class: 'btn btn-primary' %>
  <% end %>

  <article class="timeline">
  <h3 class= "followe_title">
      Recents tweets
  </h3>

  <ul>
      <% @newtech.all.each do |t| %>

      <div class="card mb-2" style="width:400px">
        
        <div class="card-body">
          <h4 class="card-title followe_name"><%=link_to t.user.fullname, user_path(t.user.id )%></h4>
          <p class="card-text followe_email"><%=link_to t.tech_desc%></p>
          <div class='technology-liking'>
            <span class='technology-date'> <%= t.created_at.strftime("%Y/%m/%d") %> </span>
            <%= like_or_dislike_btn(t) %>
          </div> 
       
        </div>
      </div>
     
      <% end %>
      
  </ul>

  <br/>
 
</article>
