<%= form_with(model: @technology) do |form| %>
 
  <%= form.label :New_technology %>
  <%= form.text_field :tech_desc, id: :tech_description, class: 'form-control', placeholder: 'Post your technology here' %>

  <%= form.submit 'Post', class: 'btn btn-primary' %>
  <% end %>

  <article class="timeline">
  <h3>
      Recents tweets

  </h3>

  <ul>
      <% @newtech.all.each do |t| %>

      <div class="card mb-2" style="width:400px">
        
        <div class="card-body">
          <h4 class="card-title"><%= t.user.fullname %></h4>
          <p class="card-text"><%= t.tech_desc%></p>
          <a href="#" class="btn btn-primary ">follow</a>
        </div>
      </div>
     
   
           
      <% end %>
      
  </ul>

  <br/>
 
</article>
<%= link_to 'sign_out', destroy_user_session_path, method: :delete %>