<%= form_with(model: @technology) do |form| %>
 
  <h2 class="text-dark"><%= form.label :'Share your New technology' %></h2>
  <%= form.text_field :tech_desc, id: :tech_description, class: 'form-control', placeholder: 'Post your technology here' %>
<br>
  <%= form.submit 'Post', class: 'btn btn-primary' %>
  <% end %>

  <article class="timeline">
  <h3 class= "followe_title">
      Recents tweets
  </h3>

  <ul>
      <% @newtech.all.each do |t| %>

      <div class="card mb-2" style="width:400px">
        
        <div class="card-body">
          <h4 class="card-title followe_name"><%= t.user.fullname %></h4>
          <p class="card-text followe_email"><%= t.tech_desc%></p>
       
          <%= link_to 'view profile', user_path(t) %>
        </div>
      </div>
     
      <% end %>
      
  </ul>

  <br/>
 
</article>
<%= link_to 'sign_out', destroy_user_session_path, method: :delete %>