<div class="head d-flex row">
      <div class="col-lg-3 col-2 bg-primary">
         <div class="row">
           <div class="col-lg-6">
          
 
            
            <%= image_tag current_user.profile_photo_url, width: '80px', class:' top-image' %><br>
        
            
           </div>
           <div class="col-lg-6">
             
              <%= current_user.fullname %>
              
           </div>
         </div>
         <div class="row">
          <div class="col-lg-6">
            fer
         </div>
         <div class="col-lg-6">
            fed
         </div>
         </div>
      </div>
      <div class="col-lg-6  col-10 bg-secondary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container">
            <a class="navbar-brand" href="/">NewTech</a>
            
          </div>
        </nav>
      </div>
      <div class="row col-lg-3  d-none d-md-block   bg-warning">
        
        <form  action="/">
          <input type="text" placeholder="Search.." name="search">
          
        </form>
      
      </div>
     
  </div>

  <div class="main d-flex row">
     <div class="col-lg-3  col-2 bg-dark">
      <nav class="navbar  navbar-dark ">
        <div class="container">
         
          
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/technologies">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/users">Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/technologies">Discover</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/technologies">Statistics</a>
              </li>
            </ul>
          
        </div>
      </nav>
     </div>
     <div class="col-lg-9 col-10 bg-danger">
       <div class="main1 row">
        <div class="col-lg-8 bg-success">
          <%= yield %>
        </div>
        <div class="col-lg-4 bg-dark text-white">
        <h2 class="text-center">who to follow</h2> 
         
         <% User.all.each do |user| %>
            <div class="container row">
              <div class="col-2">
                <%= image_tag user.profile_photo_url, width: '32px', class:'followee-image' %><br>
              </div>
              <div class="row col-8">
                <div class="col-12">
                  <%= user.fullname %> 
                </div>
                <div class="col-12">
                  <%= user.email %> 
                </div>
              </div>
              <div class="col-2">
                <%= link_to 'follow', users_path %>
              </div>
           
          </div>
          <br>
            <% end %>
          </ul>
        </div>
       </div>
       
     </div>
     